/* Scoped About Section */
.about {
    margin-top: 10px;
    margin-bottom: 100px;
  }

  .about h2 {
    margin-top: 0;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center; /* ✅ Centers all inline and inline-block text elements */
  }
  
  .about h3 {
    margin-top: 0;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center; /* ✅ Centers all inline and inline-block text elements */
  }

  .left-align {
    text-align: left;
  }
  
  .about p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 0px 0 40px 0;
  }
  
  .abt-img {
    width: 300px;
    border-radius: 0.5rem;
  }
  
  .button-link {
    margin-top: 20px;
  }

  .aling-items-center {
    text-align: center;
  }

  .about-section button {
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 14px 48px;
    font-size: 18px;
    margin-top: 15px;
    border-radius: 0;
    position: relative;
    transition: 0.3s ease-in-out;
    border: 1px solid #fff;
  }

  .about-section button span {
    z-index: 1;
    position: relative;
  }

  .about-section button:hover {
    color: #fff;
  }
  .about-section button::before {
    content: "";
    background-color: #121212;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
  }
  .about-section button:hover::before {
    width: 100%;
  }
  
  @media screen and (max-width: 1200px) {
    .about p {
      font-size: 16px;
      margin: 40px 20px;
    }
  
    .abt-img {
      max-width: 300px;
      width: 90%;
      border-radius: 0.5rem;
      justify-self: center;
      align-self: center;
      margin-top: 20px;
    }
  
    .about {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 768px) {
    .abt-img {
      margin-top: 0px;
    }
  
    .about {
      margin-bottom: 70px;
      width: 100%;
    }
  
    .about p {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  